nav {
  padding-block: 17px;
  z-index: 100;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
header img {
  height: 200px;
  margin-right: 0px;
  margin-top: 7dvh;
  margin-bottom: 50px;
}
.header-text h1 {
  display: block;
  font-size: 2.4rem;
  margin-bottom: 3dvh;
  color: black;
  text-shadow: 0 0 2px #3cfa31, 0 0 5px #3cfa31, 0 0 10px #3cfa31,
    0 0 20px #3cfa31;
}
.header-text h2 {
  font-size: 4rem;
  margin-top: 2dvh;
}
.header-text a {
  display: block;
  font-size: 1.5rem;
  margin-top: 8dvh;
  color: white;
  text-decoration: none;
}
.header-text a:active {
  color: #c9ffb8;
  text-shadow: none;
}
.categories-wrapper {
  flex-direction: column;
  padding-inline: 0;
  gap: 100px;
}
.desktop-table {
  display: none;
}
.mobile-table {
  display: block;
}
.prices-wrapper {
  display: flex;
  gap: 10px;
}
.prices-wrapper h4 {
  font-size: 1rem;
}
.prices-wrapper h4 span {
  color: #5bc6a8;
}
.category h2 {
  position: sticky;
  top: 88px;
  z-index: 50;
  text-wrap: wrap;
  font-size: 2rem;
  padding-block: 10px;
  padding-inline: 40px;
  backdrop-filter: blur(20px);
  background-color: transparent;
}
ul {
  padding-left: 15vw;
  width: 100vw;
}
li {
  text-align: left;
}
li h3 {
  width: 20ch;
  text-wrap: wrap;
  padding-right: 30px;
}
table {
  font-size: 2rem;
  border-spacing: 0px 0px; /* column-gap row-gap */
}
thead tr th {
  font-size: 1.2rem;
  text-align: left;
  padding-inline: 10px;
}
tbody tr td:is(:nth-child(2), :nth-child(3), :nth-child(4)) {
  text-align: center;
}
footer h1 {
  font-size: 1.7rem;
  margin-bottom: 5px;
}
footer h5 {
  margin-top: 30px;
  margin-bottom: 50px;
}
