nav {
  padding-block: 17px;
  z-index: 100;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
header img {
  height: 200px;
  margin-right: 0px;
  margin-top: 10vh;
  margin-bottom: 70px;
}
.header-text h1 {
  display: block;
  font-size: 2rem;
}
.header-text h3 {
  display: block;
  font-size: 1rem;
}
.header-text h2 {
  font-size: 4rem;
  margin-top: 90px;
}
.categories-wrapper {
  flex-direction: column;
  padding-inline: 0;
  gap: 100px;
}
.desktop-table {
  display: none;
}
.mobile-table {
  display: block;
}
.prices-wrapper {
  display: flex;
  gap: 10px;
}
.prices-wrapper h4 {
  font-size: 1rem;
}
.categories-wrapper span {
  color: goldenrod;
}
.category h2 {
  position: sticky;
  top: 88px;
  z-index: 50;
  text-wrap: wrap;
  font-size: 2rem;
  padding-block: 10px;
  padding-inline: 40px;
  backdrop-filter: blur(5px);
  background-color: transparent;
}
ul {
  padding-left: 15vw;
}
li {
  text-align: left;
}
li h3 {
  width: 20ch;
  text-wrap: wrap;
}
table {
  font-size: 2rem;
  border-spacing: 0px 0px; /* column-gap row-gap */
}
thead tr th {
  font-size: 1.2rem;
  text-align: left;
  padding-inline: 10px;
}
tbody tr td:is(:nth-child(2), :nth-child(3), :nth-child(4)) {
  text-align: center;
}
footer h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}
footer h5 {
  margin-top: 30px;
  margin-bottom: 50px;
}